[Desktop Entry]
Version=1.0
Name=LibMan
Comment=Library-Manager 
Exec=$HOME/LibraryManager/src/start.sh
Icon=$HOME/LibraryManager/src/icon.png
Terminal=false
Type=Application
Categories=Utility;Application;
